{% extends "base.html" %}
{% load i18n %}
{% block head %}
    <title>{% trans "任务中心 | Checklist" %}</title>
    {{ block.super }}
    <style>
        td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 300px; /*最大宽度*/
        }
        #hosts thead tr th {
            background-color: #dcc694; /* 设置背景颜色 */
        }

    </style>
{% endblock %}


{% block content %}
    <div class="page-content" style="min-width:90%;">
        <div class="bk-panel bk-demo" >
            <div class="bk-panel-header">
                <div class="bk-form bk-inline-form" style="height: 45px">
                    <div class="bk-form-item">
                            <label class="bk-label" style="width: 100px;color:#8B4513">业务名称：</label>
                            <div class="bk-form-content">
                                <select id="search_business_name" class="bk-form-select" style="width:150px;">
                                    <option value=-1>全部</option>
                                    <option value=0>小游戏教学演示</option>
                                </select>
                            </div>
                        </div>
                    <div class="bk-form-item">
                            <label class="bk-label" style="width: 100px;color:#8B4513">模板类型：</label>
                            <div class="bk-form-content">
                                <select id="search_template_type" class="bk-form-select" style="width:150px;">
                                    <option value=-1>全部</option>
                                    <option value=0>变更发布</option>
                                    <option value=1>扩缩容</option>
                                    <option value=2>上线类</option>
                                    <option value=3>下架类</option>
                                    <option value=4>例行维护</option>
                                </select>
                            </div>
                        </div>
                    <div class="bk-form-item">
                            <label class="bk-label" style="width: 100px;color:#8B4513">任务状态：</label>
                            <div class="bk-form-content">
                                <select id="search_job_status" class="bk-form-select" style="width:150px">
                                    <option value="-1">全部</option>
                                    <option value="1">待操作</option>
                                    <option value="2">操作中</option>
                                    <option value="3">任务完成</option>
                                </select>
                            </div>
                        </div>
                    <div class="bk-form-item">
                        <div class="bk-form-content" >
                            <button class="bk-button " onclick="search()" title="查询" style="color:saddlebrown">查询</button>
                        </div>
                    </div>
                </div>
                <div class="bk-form bk-inline-form" style="height: 45px">
                    <div class="bk-form-item">
                                <label class="bk-label" style="width: 100px;color:#8B4513">创建人：</label>
                                <div class="bk-form-content">
                                    <input type="text" class="bk-form-input" id="search_creator" name="search_creator"
                                           placeholder="请输入关键字"
                                           style="width:150px;">
                                </div>
                            </div>
                    <div class="bk-form-item">
                                <label class="bk-label" style="width: 100px;color:#8B4513">模板名称：</label>
                                <div class="bk-form-content">
                                    <input type="text" class="bk-form-input" id="search_template_name" name="search_template_name"
                                           placeholder="请输入关键字"
                                           style="width:150px;">
                                </div>
                            </div>
                    <div class="bk-form-item">
                                <label class="bk-label" style="width: 100px;color:#8B4513">操作识别号：</label>
                                <div class="bk-form-content">
                                    <input type="text" class="bk-form-input" id="search_operator_id" name="search_operator_id"
                                           placeholder="请输入关键字"
                                           style="width:150px;">
                                </div>
                            </div>
                </div>
            </div>
            <div class="bk-panel-body p0" style="margin: 10px">
                <table id="job" class="bk-table bk-table-header-bordered">
                    <thead>
                    <tr>
                        <th style="color:saddlebrown">模板名称</th>
                        <th style="color:saddlebrown">操作识别号</th>
                        <th style="color:saddlebrown">业务名称</th>
                        <th style="color:saddlebrown">模板类型</th>
                        <th style="color:saddlebrown">可操作者</th>
                        <th style="color:saddlebrown">创建者</th>
                        <th style="color:saddlebrown">创建时间</th>
                        <th style="color:saddlebrown">状态</th>
                        <th style="color:saddlebrown">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_block %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/moment.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/daterangepicker-2.0.5/daterangepicker.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/umeditor-1.2.2/umeditor.config.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/umeditor-1.2.2/umeditor.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/umeditor-1.2.2/lang/zh-cn/zh-cn.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/select2-3.5.2/select2.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bkSwitcher-1.0/js/bkSwitcher.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/validate-1.14.0/js/jquery.validate.js"></script>

{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>#}
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bkMessage-1.0/js/bkMessage.js"></script>#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{#    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/validate-1.14.0/js/jquery.validate.js"></script>#}
{#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>#}

    <script>
        STATE_CHOICES = {1: "待操作", 2: "操作中", 3: "完成"}
        // $.fn.dataTable.ext.errMode = 'none';
        var language = {
            search: "{% trans '搜索：' %}",
            lengthMenu: "{% trans '每页显示 _MENU_ 记录' %}",
            zeroRecords: "{% trans '没找到相应的数据！' %}",
            info: "{% trans '分页 _PAGE_ / _PAGES_ 共 _TOTAL_ 条' %}",
            infoEmpty: "{% trans '暂无数据！' %}",
            infoFiltered: "{% trans '(从 _MAX_ 条数据中搜索)' %}",
            paginate: {
                first: "{% trans '首页' %}",
                last: "{% trans '尾页' %}",
                previous: "{% trans '上一页' %}",
                next: "{% trans '下一页' %}",
            }
        }
        var jobTable = $('#job').DataTable({
            sProcessing: '<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_36x36.gif">',//这里很重要，如果你的加载中是文字，则直接写上文字即可，如果是gif的图片，使用img标签就可以加载
            pagingType: "full_numbers",
            paging: true, //隐藏分页
            ordering: false, //开启排序
            info: false, //隐藏左下角分页信息
            searching: false, //关闭搜索
            pageLength: 10, //每页显示几条数据
            lengthChange: true, //不允许用户改变表格每页显示的记录数
            language: language, //汉化
            serverSide: true,
            lengthMenu: [5, 10, 25, 50, 75, 100],
            ajax: {
                url: "{{ SITE_URL }}get_job_list/",
                method: 'post',
                dataType: 'json',
                data: function (d) {
                    //提取查询条件
                    d.search_business_name = $('#search_business_name  option:selected').val();
                    d.search_template_type = $('#search_template_type  option:selected').val();
                    d.search_job_status = $('#search_job_status option:selected').val();
                    d.search_creator = $('#search_creator').val();
                    d.search_template_name = $('#search_template_name').val();
                    d.search_operator_id = $('#search_operator_id').val();
                    d.csrfmiddlewaretoken = "{{ csrf_token }}";
                },
                dataSrc: function (json) {
                    json.draw = json.data.info.draw;
                    json.recordsTotal = json.data.info.recordsTotal;
                    json.recordsFiltered = json.data.info.recordsFiltered;
                    json.data = json.data.info.data

                    return json.data;
                },
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "template_name",
                },
                {
                    targets: 1,
                    data: "operator_id",
                },
                {
                    targets: 2,
                    data: "business_name",
                },
                {
                    targets: 3,
                    data: "template_type",
                },
                {
                    targets: 4,
                    data: "person_couldOperate",
                },
                {
                    targets: 5,
                    data: "creator",
                },
                {
                    targets: 6,
                    data: "create_time",
                },
                {
                    targets: 7,
                    data: "STATE",
                    render: function (data, type, row, meta){
                        if(data==1)
                            return '<i class="bk-text">待操作</i>\n';
                        else if (data==2)
                            return '<i class="bk-text">操作中</i>\n';
                        else
                            return '<i class="bk-text">完成</i>\n';

                    }
                },
                {
                    targets: 8,
                    data: "STATE",
                    render: function (data, type, row, meta) {
                        console.log('STATE:',data);//调试语句
                        if(data==1||data==2)
                            return '<a class="bk-icon-button bk-warning bk-button-mini" type="button"  onclick="viewJob(\'' + row.operator_id + '\', \'' + row.template_name + '\', \'' + row.business_name + '\', \'' + row.template_type + '\')" title="查看">\n' +
                                '<i class="bk-icon icon-plus bk-icon"></i>\n' +
                                '<i class="bk-text">查看</i>\n' +
                                '</a>\n' +
                                '<a class="bk-icon-button bk-warning bk-button-mini" type="button" onclick="operatorJob(\'' + row.operator_id + '\', \'' + row.template_name + '\', \'' + row.business_name + '\', \'' + row.template_type + '\')" title="操作">\n' +
                                '<i class="bk-icon icon-download bk-icon"></i>\n' +
                                '<i class="bk-text">操作</i>\n' +
                                '</a>\n';
                        else
                            return '<a class="bk-icon-button bk-warning bk-button-mini" type="button"  onclick="viewJob(\'' + row.operator_id + '\', \'' + row.template_name + '\', \'' + row.business_name + '\', \'' + row.template_type + '\')" title="查看">\n' +
                                '<i class="bk-icon icon-plus bk-icon"></i>\n' +
                                '<i class="bk-text">查看</i>\n' +
                                '</a>\n';
                    }
                },
            ]
        });

        setInterval(function () {
            jobTable.ajax.reload(null, false); // user paging is not reset on reload
        }, 30000);

        function search(){
            jobTable.ajax.reload(null,false);
        }

        var page_size = 20;

        function viewJob(operator_id, template_name, business_name, template_type) {
            var url = "{{ SITE_URL }}job_details2/?operator_id=" + encodeURIComponent(operator_id) +
            "&template_name=" + encodeURIComponent(template_name) +
            "&business_name=" + encodeURIComponent(business_name) +
            "&template_type=" + encodeURIComponent(template_type);
            window.location.href = url;
        }

        function operatorJob(operator_id, template_name, business_name, template_type) {
            var url = "{{ SITE_URL }}job_details/?operator_id=" + encodeURIComponent(operator_id) +
            "&template_name=" + encodeURIComponent(template_name) +
            "&business_name=" + encodeURIComponent(business_name) +
            "&template_type=" + encodeURIComponent(template_type);
            window.location.href = url;
        }



    </script>
{% endblock %}